#https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sect-Managing_Services_with_systemd-Unit_Files.html

[Unit]
Description=Service for managing java application ShotBox

[Service]
Type=simple
ExecStart=/opt/shotbox/start.sh
Restart=always
#ExecStop=
#ExecReload=
PIDFile=/tmp/shotbox-pid
#RemainAfterExit=False

[Install]
WantedBy=default.target
